html, body{
    margin: auto;
    width: 80%;

    padding: 10px;
}

header{
    display: flex;

    justify-content: space-between;
    align-items: center;
}

header ul{
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 10px;
}

.main_body{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

img{
    height: 33vh;
    max-width: 350px;
}

.images_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-bottom: 50px;
} 

.advertising{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    padding-right: 20px;
} 

.images_galery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    align-content: center;
    justify-content: center;

    gap: 10px;
}